.env
*.pyc
*.log
*.cfg

.vscode

/data/medium
/data

/encode-data/
/preprocessing/venv/
/preprocessing/vendor/
/preprocessing/build/
encoded-data*
encode-data*
model/
original-data/
test.py
